/* src/components/Experience.css */
.experience {
    padding: 60px;
    background-color: #fff;
    text-align: center;
  }
  
  .experience h2 {
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  .experience ul {
    list-style-type: none;
    padding: 0;
  }
  
  .experience li {
    margin-bottom: 10px;
    font-size: 18px;
  }
  