/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p {
  line-height: 1.6;
  font-size: 18px;
}


